.col-md-3
  .about-fixed
    .my-pic
      img(src='assets/images/pic/my-pic-1.jpg', alt='')
      a.collapsed(href='javascript:void(0)', data-target='#menu', data-toggle='collapse')
        i.icon-menu.menu
      #menu.collapse
        ul.menu-link
          li
            a(href='/') Home
          li
            a(href='resume')|Resume
          li
            a(href='about') About
          li
            a(href='work') Work
          li
            a(href='contact') Contact

    .my-detail
      .white-spacing
        h1 Swagata Kumar Kundu
        span Web Developer
      ul.social-icon
        li
          a.facebook(href=data.about.fb, target='_blank')
            i.fa.fa-facebook
        li
          a.twitter(href=data.about.twitter, target='_blank')
            i.fa.fa-twitter
        li
          a.linkedin(href=data.about.linked, target='_blank')
            i.fa.fa-linkedin
        li
          a.github(href=data.about.gitHub, target='_blank')
            i.fa.fa-github