mixin bloglist
    .col-md-12.blog-post
        .post-title
            a(href='single.html')
                h1 How to make your company website based on bootstrap framework on localhost?
        |                                     
        .post-info
            span
                | November 23, 2016 / by 
                a(href='#', target='_blank') Alex Parker
        |                                     
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi
            | quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.
        |                                     
        a.button.button-style.button-anim.fa.fa-long-arrow-right(href='single.html')
            span Read More