
//footer start
.col-md-12.page-body.margin-top-50.footer
  footer
    ul.menu-link
      li
        a(href='/') Home
      |                                 
      li
        a(href='about') About
      |                                 
      li
        a(href='work') Work
      |                                 
      li
        a(href='contact') Contact
    |                             
    p &copy; Copyright 2016 DevBlog. All rights reserved
    // UiPasta Credit Start
    .uipasta-credit
      | Design By 
      a(href='http://www.uipasta.com', target='_blank') UiPasta
    // UiPasta Credit End