.post-title.margin-top-50
    h2
        | I hope you've checked 
        a(href='work', data-toggle='tooltip', data-placement='top', title='Check out my work.') my work
        | , Let's take a look on what other clients said about my work.
.row
    .col-md-6.col-sm-6.col-xs-12
        .testimonial-content
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor nec, tempor semper metus.
        .testimonial-client-info
        .testimonial-client.client-thumb
            img(src='assets/images/testimonial/1.png', alt='')
        .client-text
            .client-name Jhon Doe
            span Rolling LTD, Founder
    .col-md-6.col-sm-6.col-xs-12
        .testimonial-content
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor nec, tempor semper metus.
        .testimonial-client-info
        .testimonial-client.client-thumb
            img(src='assets/images/testimonial/2.png', alt='')
        .client-text
            .client-name Jhon Doe
            span WebRes LTD, Founder
    