.post-title.margin-top-50
    h2
        | I hope you've checked 
        a(href='work', data-toggle='tooltip', data-placement='top', title='Check out my work.') my work
        | , Let's take a look on what other clients said about my work.
.row
    .col-md-6.col-sm-6.col-xs-12
        .testimonial-content
            p
                | Swagata has done a very good job handling update and issue resolution with our website. He works quickly to implement new functions and also was very good at finding and resolving any functionality glitches. I've enjoyed working with Swagata and continue to work with him as our needs arise. I would highly recommend his services.
        .testimonial-client-info
        .testimonial-client.client-thumb
            img(src='assets/images/testimonial/1.jpg', alt='')
        .client-text
            .client-name Ron Boeringa
            span President at Optimal Media Group
    
    