doctype html
html(lang='en')
    include includes/head.pug

    body
        // Preloader Start
        .preloader
            .rounder
        // Preloader End
        #main
            .container
                .row
                    // About Me (Left Sidebar) Start
                    include /includes/about.pug

                    // About Me (Left Sidebar) End
                    // About Me (Right Sidebar) Start
                    .col-md-9
                        .col-md-12.page-body
                            .row
                                .sub-title
                                    h2 About Me
                                    a(href='contact')
                                        i.icon-envelope
                                .col-md-12.content-page
                                    .col-md-12.blog-post
                                        // My Intro Start
                                        .post-title.margin-bottom-30
                                            h1
                                                | Hi, I am 
                                                span.main-color Swagata
                                            ul.knowledge
                                                li.bg-color-4 Web Developer
                                                li.bg-color-1 Back End Developer
                                                li.bg-color-2 Mobile API Development
                                                li.bg-color-6 Freelancer
                                                li.bg-color-5 Consultant
                                        // My Intro End
                                        .row
                                            .col-md-4
                                                ul.info-list
                                                    li
                                                        strong Name:
                                                        span Swagata Kumar Kundu
                                                    li
                                                        strong Job:
                                                        span Web Developer
                                                    li
                                                        strong Age:
                                                        span 26 Years
                                                    li
                                                        strong Residence:
                                                        span India
                                                    li
                                                        strong Hometown:
                                                        span Kolkata

                                            .col-md-8
                                                p
                                                    | I am in the website field since 2004 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor nec, tempor semper metus. 
                                                    b I am a developer
                                                    | , et accumsan nisi. Duis laoreet pretium ultricies. Curabitur rhoncus auctor nunc congue sodales. Sed posuere nisi ipsum, eget dignissim nunc dapibus eget. Aenean elementum sollicitudin sapien ut sapien fermentum aliquet mollis. Curabitur ac quam orci sodales quam ut tempor. suspendisse, gravida in augue in, interdum 
                                                    b
                                                        a(href='work', data-toggle='tooltip', data-placement='top', title='Check out my work.') Work
                                                    |  bibendum dui. Suspendisse sit amet justo sit amet diam fringilla commodo. Praesent ac magna at metus malesuada tincidunt non ac arcu. Nunc gravida eu felis vel elementum. Vestibulum sodales quam ut tempor tempor Donec sollicitudin imperdiet nec tortor nec, tempor semper metus..
                                        // Video Start

                                        //- .video-box.margin-top-40.margin-bottom-80
                                        //-     .video-tutorial
                                        //-         a.video-popup(href='https://www.youtube.com/watch?v=O2Bsw3lrhvs', title='My Thought')
                                        //-             img(src='assets/images/pic/my-pic.png', alt='')
                                        //-     p Take a look about my thought on website design.
                                        //- // Video End

                                        // My Knowledge Start
                                        .post-title
                                            h1
                                                | My 
                                                span.main-color Skills
                                        .row.margin-top-30
                                            .col-md-6
                                                .skill
                                                    h4 HTML/CSS/BootStrap
                                                    .bar
                                                        .percent(style='width:85%;')
                                                .skill
                                                    h4 JavaScript
                                                    .bar
                                                        .percent(style='width:90%;')
                                                .skill
                                                    h4 jQuery
                                                    .bar
                                                        .percent(style='width:75%;')
                                            .col-md-6
                                                .skill
                                                    h4 Node JS
                                                    .bar
                                                        .percent(style='width:90%;')
                                                .skill
                                                    h4 Angular
                                                    .bar
                                                        .percent(style='width:80%;')
                                                .skill
                                                    h4 MySQL/MongoDb
                                                    .bar
                                                        .percent(style='width:85%;')

                                        // My Service End
                                    .col-md-12.text-center.about-button
                                        a.load-more-button(href='contact', data-toggle='tooltip', data-placement='top', title='Visit on my contact page for hire me.') Hire
                                        a.load-more-button(href='../assets/data/swagata_cv.pdf', data-toggle='tooltip', data-placement='top', title='Download Resume' target='_blank') Resume
                            include /includes/subscriber.pug

                        include /includes/footer.pug

                                a.scroll-to-top(href='#')
                                    i.fa.fa-long-arrow-up
